<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="info"
	internalLogToTrace="true"
	throwExceptions="false">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>
  <variable name="defaultLayout" value="${longdate}|${level:uppercase=true}|${logger}|${message} ${onexception:Exception \:${exception:format=toString}}" />
  <variable name="sendgridApiKey" value="SG.XXXX.YYYY" />
  <variable name="mailFrom" value="from@example.com" />
  <variable name="mailFromName" value="Sender" />
  <variable name="mailTo" value="to@example.com" />
  <variable name="mailCC" value="" />
  <variable name="mailSubject" value="Message from NLog on ${machinename}" />
  <variable name="mailBody" value="
    Message: ${message}${newline}
    =========================================================================${newline}
    DateTime: ${longdate}${newline}
    Level: ${level:uppercase=true}${newline}
    Logger: ${logger}${newline}
    User: ${aspnet-user-identity} ${aspnet-user-authtype}${newline}
    Remote Address: ${aspnet-request-ip} ${aspnet-request:serverVariable=HTTP_X_FORWARDED_FOR}${newline}
    Request: ${aspnet-request-method} ${aspnet-request-url:IncludeQueryString=true}${newline}
    Cookies: ${aspnet-request-cookie:CookieNames=depotId,locale;OutputFormat=JSON}${newline}
    Exception: ${exception:format=toString}${newline}" />
  <!-- https://github.com/nlog/NLog/wiki/Targets -->
  <targets>
    <target name="trace" xsi:type="Trace" />
    <!-- https://github.com/nlog/NLog/wiki/File-target -->
    <target name="file" xsi:type="File"
        layout="${defaultLayout}"
        fileName="${basedir}/App_Data/logs/log.txt"
        archiveFileName="${basedir}/App_Data/logs/archives/log.{##}.txt"
        archiveEvery="Day"
        archiveNumbering="Rolling"
        maxArchiveFiles="180"
        concurrentWrites="true"
        keepFileOpen="false"
        encoding="utf-8" />
    <!-- https://github.com/nlog/NLog/wiki/EventLog-target
    run PowerShell as Administrator to create this source is shown below
    PS> New-EventLog -LogName Application -Source "NLog"
    -->
    <target name="eventlog" xsi:type="EventLog"
        source="NLog"
        layout="${defaultLayout}" />
    <target name="aiTarget" xsi:type="ApplicationInsightsTarget" />
    <!-- https://github.com/NLog/NLog/wiki/Mail-target -->
    <target name="mail" xsi:type="Mail"
        smtpServer="ms1.gss.com.tw"
        smtpPort="25"
        smtpAuthentication="Basic"
        smtpUserName="heart-run-mail"
        smtpPassword="c216"
        enableSsl="true"
        addNewLines="true"
        from="${var:mailFrom}"
        to="${var:mailTo}"
        cc="${var:mailCC}"
        subject="${var:mailSubject}"
        header="${var:mailBlocker}"
        body="${var:mailBody}"
        footer="${var:mailBlocker}" />
    <!-- https://github.com/Microsoft/ApplicationInsights-dotnet-logging -->
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="trace" enabled="true" />
    <logger name="*" minlevel="Trace" writeTo="File" enabled="false" />
  </rules>
</nlog>